.theme-menu {
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100vh;
  padding: 20px;
  z-index: 3;
  background-color: var(--main-bg);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: right 0.5s var(--transition-cubic);
  -o-transition: right 0.5s var(--transition-cubic);
  transition: right 0.5s var(--transition-cubic);
}

.theme-menu.active {
  right: 0;
}

.theme-menu__close {
  position: absolute;
  top: 17px;
  right: 20px;
  background-color: transparent;
  font-size: 1.5rem;
}

.theme-menu__select {
  margin-top: 40px;
}

.theme-menu__select .mode-list {
  margin-top: 20px;
}

.theme-menu__select .mode-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.theme-menu__select .mode-list > li ~ li {
  margin-top: 10px;
}

.theme-menu__select .mode-list__color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  font-size: 1.5rem;
}

.theme-menu__select .mode-list__color > i {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s var(--transition-cubic);
  transition: -webkit-transform 0.5s var(--transition-cubic);
  -o-transition: transform 0.5s var(--transition-cubic);
  transition: transform 0.5s var(--transition-cubic);
  transition: transform 0.5s var(--transition-cubic), -webkit-transform 0.5s var(--transition-cubic);
}

.theme-menu__select .mode-list__color.active > i {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
