.sidebar {
  min-width: var(--sidebar-width);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--main-bg);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}
